<%- include('../partials/head.ejs') -%>



    <h1>
        <%=skill.skill%>
    </h1>
    <p>I am good at <%=skill.skill%>. My current skill level is <%=skill.level%>.</p>
    <a href='/skills/<%= skill.skill %>/edit'>Click here to edit skill</a>
<%- include('../partials/footer.ejs') -%>